#container{

    width: 100%;
    /* height: 850px; */
    height: 1000px;
    border: 1px solid #000;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.item{
    text-align: center;
    /* 플렉서블 사용 안하기에 주석처리 */
    /* display: flex; */
    /* justify-content: center; */

    height: 100%;
    /* 세로가로 가운데 정렬이라 주석처리 */
    /* align-items: center; */
    
    /* font-size: 5em; */
    scroll-snap-align: start;
}
.item:nth-child(n){

}
.item:nth-child(2n){
    background: #ffa1ac;
}
.item:nth-child(3n){
    background: #cbbcf6;
}

#first{
    background-image: url("./image1.png");
    background-size: 100% 100%;
    position: center;

}


#second{
    background-size: 100% 100%; 
    background-color: rgba(100, 100, 100, 1);
}

#three{
    /* height: 1200px;
    scroll-snap-type: y mandatory; */
}

#four{

    height: 500px;
    scroll-snap-type: y mandatory;
    
}

#copyright{

}
.white{
    color: white
}

img{
    width: 250px;
    height: 250px;
    
}
table{
    margin: auto;
}

img{
    -webkit-filter: grayscale(100%);
    filter: gray;
}
img:hover{
    -webkit-filter: grayscale(0%);
    filter: none;
    }

#info_me{
    
}

#info{
    background: url("./image10.jpeg") ;
    background-size: 100% 100%;
    /* margin-left: 20%; */
    width: 300px;
    height: 300px;
    /* background: white; */
    text-align:left;
    font-size: 16px;
}
#info2{
    margin-left: 20px;
}


/* 페이드인 효과 퍼온거*/
/* #test */
#container {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
